<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
<!--         <link rel="stylesheet" href="styles/basicStyles.css">
 -->
</head>
<body>
    <main>
        <h1>Cat Data</h1>
        <p>Cat number: <%= result.number %> </p>
        <p>Name: <%= result.name %> </p>
        <p>Year of birth: <%= result.yearOfBirth %> </p>
        <p>Breed: <%= result.breed %> </p>
        <p>Length: <%= result.length %> </p>
        <a href="/"><button>Home</button></a>
    </main>
</body>
</html>